<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Projet_DesktopDev_Antoine_Richard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Projet_DesktopDev_Antoine_Richard.Properties.Settings>
            <setting name="SelectedStatus" serializeAs="String">
                <value>terminer</value>
            </setting>
            <setting name="SelectedTotal" serializeAs="String">
                <value>Total</value>
            </setting>
            <setting name="SavedGenreColors" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="SavedPlatformColors" serializeAs="String">
                <value>{}</value>
            </setting>
        </Projet_DesktopDev_Antoine_Richard.Properties.Settings>
    </userSettings>
</configuration>